In [59]:
import os
from dotenv import load_dotenv

load_dotenv(verbose=True)

True

In [60]:
import pandas as pd

df = pd.read_csv('dataset/companies.csv')
df.head()

,rank,global company,country,sales,profit,assets,market value
0,1,Berkshire Hathaway ...,United States,$276.09 B,$89.8 B,$958.78 B,$741.48 B
1,2,ICBC ...,China,$208.13 B,$54.03 B,"$5,518.51 B",$214.43 B
2,3,Saudi Arabian Oil Company (Saudi Aramco) ...,Saudi Arabia,$400.38 B,$105.36 B,$576.04 B,"$2,292.08 B"
3,4,JPMorgan Chase ...,United States,$124.54 B,$42.12 B,"$3,954.69 B",$374.45 B
4,5,China Construction Bank ...,China,$202.07 B,$46.89 B,"$4,746.95 B",$181.32 B

In [61]:
from langchain_experimental.agents.agent_toolkits import create_csv_agent
from langchain_google_genai import ChatGoogleGenerativeAI

llm = ChatGoogleGenerativeAI(model="gemini-1.5-flash", google_api_key = os.getenv("GEMINI_API_KEY"))

In [62]:
agent = create_csv_agent(llm, "dataset/companies.csv", allow_dangerous_code=True)

In [63]:
agent

AgentExecutor(verbose=False, agent=RunnableAgent(runnable=RunnableAssign(mapper={
  agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['agent_scratchpad', 'input'], input_types={}, partial_variables={'df_head': '|    |   rank  | global company                                              | country                 | sales        | profit       | assets           | market value   |\n|---:|--------:|:------------------------------------------------------------|:------------------------|:-------------|:-------------|:-----------------|:---------------|\n|  0 |       1 | Berkshire Hathaway                                          | United States           | $276.09 B    | $89.8 B      | $958.78 B        | $741.48 B      |\n|  1 |       2 | ICBC                                                        | China                   | $208.13 B    | $54.03 B     | $5,518.51 B      | $214.43 B      |\n|  2 |       3 | Saudi Arabian Oil Company (Saudi Aramco)                    | Saudi Arabia            | $400.38 B    | $105.36 B    | $576.04 B        | $2,292.08 B    |\n|  3 |       4 | JPMorgan Chase                                              | United States           | $124.54 B    | $42.12 B     | $3,954.69 B      | $374.45 B      |\n|  4 |       5 | China Construction Bank                                     | China                   | $202.07 B    | $46.89 B     | $4,746.95 B      | $181.32 B      |', 'tools': 'python_repl_ast - A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.', 'tool_names': 'python_repl_ast'}, template='\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\n{tools}\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [{tool_names}]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}')
| RunnableBinding(bound=ChatGoogleGenerativeAI(model='models/gemini-1.5-flash', google_api_key=SecretStr('**********'), client=<google.ai.generativelanguage_v1beta.services.generative_service.client.GenerativeServiceClient object at 0x000001CD9C9AB920>, default_metadata=()), kwargs={'stop': ['\nObservation']}, config={}, config_factories=[])
| ReActSingleInputOutputParser(), input_keys_arg=['input'], return_keys_arg=['output'], stream_runnable=True), tools=[PythonAstREPLTool(globals={}, locals={'df':       rank  global company                                             \
0         1  Berkshire Hathaway                            ...
1         2  ICBC                                          ...
2         3  Saudi Arabian Oil Company (Saudi Aramco)      ...
3         4  JPMorgan Chase                                ...
4         5  China Construction Bank                       ...
...     ...                                                ...
1995   1995  Shenzhen Feima International Supply Chain Co.,...
1996   1997  NMDC                                          ...
1997   1997  Sichuan Changhong Electric                    ...
1998   1999  Credit Bank of Moscow                         ...
1999   1999  Satellite Chemical                            ...

      country                sales       profit      assets          \
0     United States          $276.09 B   $89.8 B     $958.78 B
1     China                  $208.13 B   $54.03 B      $5,518.51 B
2     Saudi Arabia           $400.38 B   $105.36 B   $576.04 B
3     United States          $124.54 B   $42.12 B      $3,954.69 B
4     China                  $202.07 B   $46.89 B      $4,746.95 B
...                     ...         ...         ...             ...
1995  China                  $37 M       $1.41 B     $166 M
1996  India                  $3.52 B     $1.41 B     $5.71 B
1997  China                  $15.72 B    $53.1 M     $12.11 B
1998  Russia                 $2.53 B     $370.1 M    $45.15 B
1999  China                  $4.41 B     $931.3 M    $7.64 B

     market value
0       $741.48 B
1       $214.43 B
2     $2,292.08 B
3       $374.45 B
4       $181.32 B
...           ...
1995      $1.14 B
1996       $6.4 B
1997      $1.96 B
1998      $2.06 B
1999      $9.52 B

[2000 rows x 7 columns]})])

In [64]:
query = "What is the total assets of JPMorgan Chase ?"

In [65]:
agent.run(query)

'$3,954.69 B'

In [70]:
query = "Tell the 20 company names ?"

In [71]:
agent.run(query)

"['Berkshire Hathaway', 'ICBC', 'Saudi Arabian Oil Company (Saudi Aramco)', 'JPMorgan Chase', 'China Construction Bank', 'Amazon', 'Apple', 'Agricultural Bank of China', 'Bank of America', 'Toyota Motor', 'Alphabet', 'Microsoft', 'Bank of China', 'Samsung Group', 'ExxonMobil', 'Shell', 'Ping An Insurance Group', 'Wells Fargo', 'Verizon Communications', 'AT&T']"